@import url("https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald");
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
  background-image: url("../images/seeds.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 600px 600px;
  background-position: center;
  font-family: 'Cardo', serif;
  padding: 40px;
  text-align: center;
  color: #FFFFFF;
  font-size: 24px;
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

h1 {
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
 font-size: 60px;
 letter-spacing: 2px;
}

h2, h3, h4, h5, h6 {
  font-family: 'Cardo', serif;
  font-size: 24px;

}

p {
  margin: 0;
  font-size: 1.5rem;
}

a {
 text-decoration:none;
 color: #000000;
}

a.button{
 background-color:#FFFFFF;
 border-radius:7rem;
 margin-right:10px;
 padding: 0.75rem 1.5rem;
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
 text-decoration: none;
}

.submit_btn {
 background-color:#FFFFFF;
 border-radius:7rem;
 margin-right:10px;
 padding: 0.75rem 1.5rem;
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
 text-decoration: none;
}
