<h2>Log In To Your Account</h2>

<form method="POST" action="/login">
  <p>Username : <input type='text' id='username' name='username'></p>
  <p>Password : <input type='password' id='password' name='password'></p>
  <br>
  <input type='submit'>
</form>

<br>
<p>Don't have an account yet?</p>
<br>
<div class="container">
<p><a href='/signup' class="button">Sign Up</a></p>
</div>
