<h1>Welcome to Seed Tracker </h1>

<!-- <h3>Choose an option below. </h3> -->
<br>
<br>

<div class="container">
<a href='/login' class="button">Log In </a>
<a href='/signup' class="button">Sign Up</a>
</div>
