<link rel="stylesheet" href="/css/style.css">

<html>
  <body>

      <% if flash[:notice] %>
    <b><i><p class="notice"><%= flash[:notice] %></p></i></b>
    <% end %>
    <%= yield %>
    </body>
</html>
